body {
    color: white;
    background-repeat: repeat-x;
    padding-bottom: 15%;
    background-attachment: fixed;
}

p {
    text-align: center;
}

div {
    background-color: transparent;
}

.navbar-custom{
    background-color:darkslategray;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,  .navbar-custom .nav-link{
            color: white;
}

.name{
    padding-top: 0.3125rem;
    display: inline-block;
    justify-content: right;
    margin: 0 0 0 auto;
}

.page-title{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.fixtures{
    margin: 0% 15% 0% 15%;
    
    color: white;
}

.table{
    color:burlywood;
    text-align: center;
}

.table-row:hover{
    background-color:rgb(101, 106, 111);
}

.table-row{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.text{
    width: fit-content;
}